@use '../main.scss' as a;

.container{
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
    gap: 1.6rem;
    color: a.$text-color-primary;

    @media (min-width: 768px) {
        padding: 0 12rem;
    }

    @media (min-width: 1440px) {
        padding: 0 40rem;
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .title {
            font-family: a.$text-font-righteous;
            font-size: a.$text-size-title;
        }

        .video {
            @media (min-width: 768px) {
                height: 40rem;
            }
        }
    }

    .bottom {
        font-family: a.$text-font-manrope;
        font-size: a.$text-size-small;
    }
}