@use '../main.scss' as a;

.container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    color: a.$text-color-primary;
    justify-content: center;
    width: 100%;
    padding: 0 2.4rem;

    @media (min-width: 840px) {
        width: 70rem;
        margin: 0 auto;
    }

    .title {
        font-family: a.$text-font-righteous;
        font-weight: 400;
        font-size: a.$text-size-title;

        @media (min-width: 1024px) {
            font-size: a.$text-size-display;
        }
    }

    .para {
        font-family: a.$text-font-manrope;
        font-size: a.$text-size-small;

        @media (min-width: 1024px) {
            font-size: a.$text-size-medium;
        }
    }
}