@use '../main.scss' as a;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.4rem;
    margin: 0 auto;

    .title {
        font-family: a.$text-font-manrope;
        font-size: a.$text-size-title;
        color: a.$text-color-primary;
        font-weight: 400;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .button {
            width: 35rem;
            height: 7rem;
            background-color: a.$background;
            display: grid;
            place-content: center;
            font-family: a.$text-font-manrope;
            font-size: a.$text-size-small;
            font-weight: 700;
            color: a.$text-color-primary;
            text-decoration: none;
            text-align: center;
            border-radius: 5rem;
            transition: 200ms ease;
            box-shadow: a.$shadow-light;

            &:hover {
                background-color: a.$text-color-hover;
                color: a.$text-color-neutral;
            }
        }
    }
}