@use '../main.scss' as a;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
    gap: 2.4rem;

    @media (min-width: 768px) {
        padding: 0 2.4rem;
    }

    @media (min-width: 1440px) {
        padding: 0 35rem;
    }

    @media (min-width: 1920px) {
        padding: 0 50rem;
    }

    @media (min-width: 2560px) {
        padding: 0 80rem;
    }

    .title {
        font-family: a.$text-font-manrope;
        font-size: a.$text-size-medium;
        color: a.$text-color-primary;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1.6rem;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .button {
            width: 100%;
            height: 8rem;
            background-color: a.$background;
            display: grid;
            place-content: center;
            font-family: a.$text-font-manrope;
            font-size: a.$text-size-medium;
            font-weight: 700;
            color: a.$text-color-primary;
            text-decoration: none;
            text-align: center;
            box-shadow: a.$shadow-light;
            border-radius: 0.5rem;
            transition: 200ms ease;

            &:hover {
                transform: translateY(-0.3rem);
                background-color: #f2f2f2;
            }
        }
    }
}