// colors
$primary: #3E7CB1;
$accent: #7295b9;
$background: #ffffff;
$text: #fff;

// text
$text-size-display: 6.4rem;
$text-size-title: 3.2rem;
$text-size-medium: 2.4rem;
$text-size-small: 2rem;
$text-color-neutral: #ffffff;
$text-color-primary: #0D1317;
$text-color-hover: #81a9d0;
$text-font-righteous: var(--righteous-font);
$text-font-manrope: var(--manrope-font);

// layout
$shadow-light: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;