@use '../../main.scss' as a;

.container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: a.$text-color-primary;
    justify-content: center;
    padding: 0 2.4rem;
    width: 100%;

    @media (min-width: 840px) {
        width: 70rem;
        margin: 0 auto;
    }

    .title {
        font-family: a.$text-font-righteous;
        font-size: a.$text-size-title;
        font-weight: 400;

        @media (min-width: 1024px) {
            font-size: a.$text-size-display;
        }
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        details {
            border: 2px solid a.$text-color-primary;
            border-radius: 0.5rem;
            font-size: a.$text-size-small;
            font-family: a.$text-font-manrope;
            padding: 1.6rem;
            cursor: pointer;
            transition: 200ms ease;

            @media (min-width: 768px) {
                &:hover {
                    background-color: a.$text-color-hover;
                    color: a.$text-color-neutral;
                }
            }

            summary {
                font-family: a.$text-font-manrope;
                font-size: a.$text-size-small;
                font-weight: 700;
            }

            &[open] summary {
                padding-bottom: 1.6rem;
            }

            &[open] {
                padding: 1.6rem;
            }

            p {
                margin-bottom: 1.6rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}