@use '../../main.scss' as a;

.container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: a.$text-color-primary;
    padding: 0 1.6rem;

    .title {
        font-family: a.$text-font-righteous;
        font-size: a.$text-size-title;
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        details {
            border: 2px solid a.$text-color-primary;
            border-radius: 0.5rem;
            font-size: a.$text-size-small;
            font-family: a.$text-font-manrope;
            padding: 1.6rem;
            cursor: pointer;

            summary {
                font-family: a.$text-font-manrope;
                font-size: a.$text-size-small;
                font-weight: 700;
            }

            &[open] summary {
                padding-bottom: 1.6rem;
            }

            &[open] {
                padding: 1.6rem;
            }

            p {
                margin-bottom: 1.6rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}