@use '../../main.scss' as a;

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.6rem;

    @media (min-width: 768px) {
        padding: 0 12rem;
    }

    @media (min-width: 1440px) {
        padding: 0 40rem;
    }

    .link {
        font-family: a.$text-font-manrope;
        font-size: a.$text-size-small;
        color: a.$text-color-primary;
        display: flex;
        gap: 1rem;
        text-decoration: none;
        font-weight: 700;
        transition: 200ms ease;

        &:hover {
            transform: translateY(-0.3rem);
        }

        &:first-child::before {
            content: '<';
        }

        &:last-child::after {
            content: '>';
        }
    }
}